
<div class='row dogsearch'>
	<div class="col-xs-12 ">
		<h1>Search dog breeds</h1>
			<div class="completer">
				<ng2-completer [(ngModel)]="dog" [datasource]="breeds" [minSearchLength]="2" [openOnFocus]="false" (focus)="reset()"></ng2-completer>
			</div>
		<br>
		<div *ngIf="empty">
			<alert type="success"> Please enter a dog!</alert>
		</div>
		<div *ngIf="existing">
			<alert type="success"> Dog already in wishlist!</alert>
		</div>
		<button class='btn btn-primary dogbutton' (click)="add($event , dog)"> Add dog to wishlist</button>
	</div>


	<div class="wishlist">
		<h1>Your Wishlist</h1>
		<ul>

			<div on-mouseover="options=true" on-mouseleave="options=false">
				<h3 *ngFor="let dog of wishlist; let i = index" [attr.data-index]="i">
			      {{ dog }}  <button [hidden]="!options" class="btn btn-xs btn-danger"(click)='remove($event, dog)'>x</button>
			    </h3>
		    </div>		   
		</ul>
	</div>
</div>




<div class="pic">
	<img src="../../assets/images/moo.jpg" alt="">
</div>

<div class="footer bg-wag-purple text-center">
	<h1>Made by Jeremy Nelson</h1>
	<h3>312-889-8486</h3>
</div>
