.dogstuffParent{
	margin:20px;
}
.dogstuff{
	background-color: #00bf8f;
	color: #fff;
	margin:10px;
	padding: 10px;
	border-radius: 10px;
	border: 5px solid #00bf8f;
}


.dogbutton{
	font-size: 20px;
	background-color: #62699d
}

.completer{
	color:black;
}